## Assignment 11: Matplotlib

### Dataset = T20 World Cup 2026 Match Dataset
#### Link = https://www.kaggle.com/datasets/vishardmehta/t20-world-cup-2026-match-dataset

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('Match_dataset.csv')

In [3]:
df = pd.DataFrame(data)

In [4]:
df

,Match_ID,Date,Venue,Team_A,Team_B,Stage,Team_A_Ranking,Team_B_Ranking,Team_A_Form,Team_B_Form,...,HeadToHead_B_Wins,Venue_HomeAdvantage_A,Venue_HomeAdvantage_B,Pitch_Type,Avg_T20_Score_Venue,Toss_Winner,Toss_Decision,Team_A_Tech_Index,Team_B_Tech_Index,Match_Total
0,M0001,2026-03-06,Chennai,New Zealand,Scotland,Super8,5,13,76.97,54.62,...,4,0,0,Spin-Friendly,155,Team_A,Field,251.27,156.37,168
1,M0002,2026-03-07,Mumbai,South Africa,Sri Lanka,Final,6,9,64.19,58.75,...,6,0,0,Flat,175,Team_B,Bat,249.33,187.44,150
2,M0003,2026-03-02,Kolkata,India,PNG,Group,1,20,69.87,45.14,...,0,1,0,Spin-Friendly,165,Team_B,Field,298.24,54.03,160
3,M0004,2026-02-22,Colombo,Netherlands,Ireland,Group,11,12,85.59,61.94,...,4,0,0,Spin-Friendly,160,Team_A,Bat,197.19,174.95,145
4,M0005,2026-02-28,Mumbai,Namibia,South Africa,Group,15,6,45.98,88.52,...,15,0,0,Flat,175,Team_B,Bat,124.91,271.68,185
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,M0596,2026-02-12,Kolkata,England,Zimbabwe,Group,3,14,77.24,61.10,...,3,0,0,Spin-Friendly,165,Team_B,Field,294.94,154.29,164
596,M0597,2026-02-14,Colombo,Australia,England,Group,2,3,85.50,78.79,...,8,0,0,Spin-Friendly,160,Team_B,Bat,296.33,278.65,187
597,M0598,2026-02-13,Chennai,Canada,Australia,Group,18,2,36.86,72.24,...,23,0,0,Spin-Friendly,155,Team_A,Bat,70.96,285.08,149
598,M0599,2026-02-21,Delhi,Namibia,Pakistan,Group,15,4,48.37,53.93,...,7,0,0,Pace-Friendly,170,Team_B,Bat,129.25,253.03,197
599,M0600,2026-02-07,Delhi,Netherlands,Canada,Group,11,18,56.36,46.50,...,0,0,0,Pace-Friendly,170,Team_A,Bat,192.85,96.30,187

In [5]:
df.head()

,Match_ID,Date,Venue,Team_A,Team_B,Stage,Team_A_Ranking,Team_B_Ranking,Team_A_Form,Team_B_Form,...,HeadToHead_B_Wins,Venue_HomeAdvantage_A,Venue_HomeAdvantage_B,Pitch_Type,Avg_T20_Score_Venue,Toss_Winner,Toss_Decision,Team_A_Tech_Index,Team_B_Tech_Index,Match_Total
0,M0001,2026-03-06,Chennai,New Zealand,Scotland,Super8,5,13,76.97,54.62,...,4,0,0,Spin-Friendly,155,Team_A,Field,251.27,156.37,168
1,M0002,2026-03-07,Mumbai,South Africa,Sri Lanka,Final,6,9,64.19,58.75,...,6,0,0,Flat,175,Team_B,Bat,249.33,187.44,150
2,M0003,2026-03-02,Kolkata,India,PNG,Group,1,20,69.87,45.14,...,0,1,0,Spin-Friendly,165,Team_B,Field,298.24,54.03,160
3,M0004,2026-02-22,Colombo,Netherlands,Ireland,Group,11,12,85.59,61.94,...,4,0,0,Spin-Friendly,160,Team_A,Bat,197.19,174.95,145
4,M0005,2026-02-28,Mumbai,Namibia,South Africa,Group,15,6,45.98,88.52,...,15,0,0,Flat,175,Team_B,Bat,124.91,271.68,185